section article { 
    width:355px; 
    height:300px; 
    margin: 0 15px 10px 0; 
    text-align:center;
    margin-top: 1rem;
    border-radius: 25px;
}

section article img {
    width: 450px; 
    height: 380px;
    border-radius: 50px;
    padding-left: 2rem;
    padding-top: 1rem;
    float: left;
}

section article h1 {
    color: black;
    font-family: 'Consolas';
    margin-left: 500px;
    margin-top: 2rem;
    font-size: 3rem;
    white-space: nowrap
}

section article h2 {
    color: black;
    font-family: 'Consolas';
    margin-left: 500px;
    margin-top: 1rem;
    font-size: 2rem;
}



